.parent_input.radio {
  margin-right: 70px;
}

.title.wide {
  width: 150px;
}

.search .title.wide {
  float: left;
}

.title.wide2 {
  margin-left: 16px;
}

div.left {
  float: left;
}

.search div.left {
  float: none;
}

.wrapper_line .title .inner .required {
  font-size: 1.3em;
  line-height: 28px;
}

.wrapper_line .title .inner.spec {
  width: 16px;
  text-align: center;
}

.one_column1 .select.long {
  width: 300px;
}

.one_column1 .text.long {
  width: 284px;
}

.one_column1 .text.middle {
  width: 125px;
}

a.ui-combo-button {
  display: none;
}

div.cb_horizontal ul li {
  display: inline-block;
  margin-top: 5px;
  margin-right: 35px;
}

.textarea {
  border: solid 1px #cccccc;
  font-size: 11px;
  color: #666666;
  padding: 0 8px;
  display: block;
  margin: 0 0 9px;
  text-shadow: 1px 0px 0px #EAEAEA;
  border-radius: 0;
}

.textarea.long {
  width: 282px;
}

.gray_block .left_column2 {
  width: 292px;
}

.gray_block .left_column3 {
  width: 148px;
}

.error {
  margin-left: 150px;
}

.two_columns .offer_detail.left_column {
  width: 132px;
  margin: 0;
}

.two_columns .right_column {
  float: right;
  width: 455px;
}

.left_column4 .button {
  min-width: 90px;
}

.bigimage {
  width: 120px;
  height: 120px;
  margin-left: 6px;
  margin-bottom: 6px;
}

.smallimage {
  width: 60px;
  height: 60px;
  margin: 3px;
  cursor: pointer;
}

.offer_detail.block_border {
  padding-top: 10px;
  margin-bottom: -1px;
}

div.info_line {
  margin-bottom: 20px;
}

div.info_line .italic {
  display: table-cell;
  width: 150px;
}

div.info_line .black {
  display: table-cell;
  font-size: 1.1em;
}

div.prop_my {
  margin-top: 10px;
}

div.imageline input, div.imageline label{
  display: block;
  float: left;
  margin-top: 20px;
}

div.imageline img{
  float: left;
  margin-left: -66px;
}

.tabs a.market {
  width: 298px;
}

.text.short {
  width: 46px;
}

.select.short2 {
  width: 78px;
}

.left_column2.search_result {
  margin: 0;
}

.left_column2.market {
  width: 290px;
}

.status_block.search_result {
  margin: 0;
  margin-top: 7px;
}

img.small {
  margin-top: 7px;
  margin-bottom: 7px;
  width: 120px;
  height: 120px;
}

.block_border.search_result {
  margin-bottom: -1px;
  padding-bottom: 0;
}

.right_column.market {
  float: none;
  margin-left: 140px;
  margin-top: 0;
  width: auto;
}

.one_column11.market {
  float: left;
  width: 35%;
}

.one_column12.market {
  width: 63%;
  margin-left: 37%;
}

.search .one_column11 {
  float: left;
  width: 298px;
}

.search .one_column12 {
  margin-left: 298px;
}

.no_padding {
  padding: 0 !important;
}

.info_line span.title, .wrapper_line span.title {
  display: table-cell;
  font-style: italic;
  color: #666;
}

.info_line span.info, .wrapper_line span.info {
  padding-left: 3pt;
  display: table-cell;
  color: black;
}


.gray_block .button.fr {
  margin-left: 0;
}

.search .gray_block .button.fl {
  width: 130px;
  margin-left: 10px;
}

.gray_block.market {
  overflow: visible;
}

.offer_detail .fl {
  margin-left: 15px;
  width: 450px;
}

.pagination {
  margin-top: 15px;
}

.no_margin {
  margin: 0;
}

div.summary_block {
  margin-top: -17px;
}

div.summary {
  text-align: center; 
  float: left; 
  width: 180px; 
  margin-left: 18px; 
  margin-top: -4px; 
  color: black;
}

div.summary div.price {
  background: #ededed; 
  padding: 1px;
}

div.summary div.price .value {
  font-size: 3em; 
  line-height: 1em;
}

div.summary div.price .izm {
  font-size: 1.2em; 
  line-height: 1em;
}

div.nav_block {
  background-color: #FFEBBC; 
  border-radius: 1px; 
  margin-bottom: 15px;
  border-top: 1px solid #EEDEBA;
  border-left: 1px solid #EEDEBA;
}

div.nav_block a {
  line-height: 30px; 
  margin-left: 15px; 
  font-size: 1.1em;
}

.wrapper_line .left .inner {
  height: 23px;
  display: table-cell;
  vertical-align: middle;
}