{% load i18n %}
{% load deal_patterns %}
<div class="left_column4">
    {% if item.company != request.user.employee.company %}
        <a href="/deals/create/" class="button green fl"><span>{% trans "Создать сделку" %}</span></a>
        {% if item.notes %}
        <a href="" id="dbutton{{ item.id }}" class="button fl" onClick="toggle_notes({{ item.id }},'{% trans "Подробнее" %}','{% trans "Скрыть" %}'); return false;"><span>{% trans "Подробнее" %}</span></a>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="/messages/asc_answer/offer/{{ item.id }}/{{ item.company.id }}/" class="button fr mess_asc_answer"><span>{{ trans_question_ask }}</span></a>
        {% endif %}
    {% else %}              
        <a href="{% if item.offer_type %}{% url market:offer_update item.id %}{% else %}{% url market:demand_update item.id %}{% endif %}" class="button green fl"><span>{% trans "Редактировать" %}</span></a>
        {% if item.notes %}
        <a href="" id="dbutton{{ item.id }}" class="button fl" onClick="toggle_notes({{ item.id }},'{% trans "Подробнее" %}','{% trans "Скрыть" %}'); return false;"><span>{% trans "Подробнее" %}</span></a>
        {% endif %}
        {% if item.date_create|days_ago > 0 %}
            <a href="{% url market:renew item.id %}" class="button fr"><span>{% trans "Обновить" %}</span></a>
        {% endif %}
        <a href="" onClick="delete_offer_ajax('{% url market:delete item.id %}', '{{ csrf_token }}', '{% if 'detail' in request.get_full_path %}{% if item.offer_type %}{% url market:offer_list %}{% else %}{% url market:demand_list %}{%endif%}{% endif %}'); return false;" class="button fr"><span>{% trans "Удалить" %}</span></a>
    {% endif %}
</div>
<div class="right_column4">
    <div class="option">
        <a href="/offer/{{ item.id }}/">
        <div class="date">
            {{ item.date_create|timesince }} {% trans "назад" %}
        </div>
        </a>
    </div>
</div>
<div class="forward_form ask_question block_border" style="display: none;"></div>


