{% load i18n %}
{% load deal_patterns %}
<div class="market_fruit__product">
    <p class="market_fruit__product__title">{% if item.offer_type %}{% trans 'Продам' %}{% else %}{% trans 'Куплю' %}{% endif %} {% trans 'фрукты и овощи' %}</p>
    <div class="market_fruit__product__main">
        <div class="market_fruit__product__header">
            <div class="right_side">
                <span class="author"><a href="{{ item.user.employee.company|get_profile_url }}">{{ item.user.employee.company }}</a></span>

                {% if user.is_authenticated %}
                    {% if item.company == request.user.employee.company or item.is_partner %}
                        {% if item.company == request.user.employee.company %}
                            <span class="status">{% trans 'моё' %}</span>
                        {% endif %}
                        {% if user.is_authenticated %}
                            {% if item.is_partner %}
                                <span class="status">{% trans 'партнер' %}</span>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>

            <div class="left_side">
                <span class="name">{{ item.goods }}</span>
                <div class="reiting_line_row">
                    {% load rating from deal_patterns %}
                    <div class="reiting_line" style="width: {{ item.company|rating }}%"></div>
                </div>
            </div>
        </div>

        <div class="market_fruit__product__body">

            <div class="market_fruit__product__delivery">
                {% if not item.offer_type %}
                    {% if item.origin_country %}
                    <div class="block">
                        <span>{% trans "Производитель" %}:</span>
                        {{ item.origin_country }}
                    </div>
                    {% endif %}
                {% else %}
                    {% if item.manufacturer %}
                    <div class="block">
                        <span>{% trans "Производитель" %}:</span>
                        {{ item.manufacturer }}
                    </div>
                    {% endif %}
                {% endif %}
                <div class="block">
                    {% if not item.offer_type %}
                    <span>{% trans "Я&nbsp;нахожусь" %}:</span>
                    {{ item.location }}
                    {% else %}
                    <span>{% trans "Место&nbsp;груза" %}:</span>
                    {{ item.location }}
                    {% endif %}
                </div>
            </div>

            <div class="market_fruit__product__image">
                <a href="{% url market:detail item.id %}"><img src="{{ item.image_url|default_if_none:"/static/market/nophoto.png" }}" alt=""></a>
            </div>

            <div class="market_fruit__product__text">
                {% if item.grade %}<p><span>{% trans "Сорт" %}:</span> {{ item.grade }}</p>{% endif %}
                {% if item.price %}<p><span>{% trans "Цена" %}:</span> {{ item.price|floatformat:"0" }} {{ item.money_type }}&nbsp;/&nbsp;{% trans "КГ" %}</p>{% endif %}
                {% if item.pack %}<p><span>{% trans "Упаковка" %}:</span> {{ item.pack }}</p>{% endif %}
                {% if item.caliber_min and item.caliber_max%}<p><span>{% trans "Калибр" %}:</span> {{ item.caliber_min }} - {{ item.caliber_max }}</p>{% endif %}
                {% if item.payments %}<p><span>{% trans "Оплата" %}:</span> {{ item.payments }}</p>{% endif %}
            </div>
        </div>

        <div class="market_fruit__product__footer">
            <div class="time"><span class="icon"></span>{{ item.date_create|timesince|upto:"," }} {% trans "назад" %}</div>
            <a href="/deals/create/" class="market_fruit__product__btn create_deal">{% trans "Создать сделку" %}</a>
            <a href="{% url market:detail item.id %}" class="market_fruit__product__btn detail">Подробнее</a>
        </div>

    </div>
</div>
