{% load i18n %}
<div class="block_border none_border {% if forloop.last %} none_margin_bottom {% endif %}" id="offer_short{{ item.id }}">
    <div class="two_columns block_border search_result" id="market{{item.id}}">
        <div class="left_column2 search_result">
            <a href="{% url market:detail item.id %}"><img class="small" src="{{ item.image_url|default_if_none:"/static/market/nophoto.png" }}" /></a>
        </div>
        <div class="right_column market">
           {% include "market/_status.html" %}
    
            <div class="two_columns no_padding">
                <br/>
                <div class="one_column11 market">
                    <div class="info_line"><span class="title">{% trans "Сорт" %}:</span><span class="info">{{ item.grade }}</span></div>
                    <div class="info_line"><span class="title">{% trans "Цена" %}:</span><span class="info">{{ item.price|floatformat:"0" }} {{ item.money_type }}&nbsp;/&nbsp;{% trans "КГ" %}</span></div>
                    <div class="info_line"><span class="title">{% trans "Упаковка" %}:</span><span class="info">{{ item.pack }}</span></div>
                    {% if not item.offer_type %}
                    <div class="info_line"><span class="title">{% trans "Страна&nbsp;пр." %}:</span><span class="info">{% if item.origin_country %}{{ item.origin_country }}{% endif %}</span></div>
                    {% else %}
                    <div class="info_line"><span class="title">{% trans "Производитель" %}:</span><span class="info">{% if item.manufacturer %}{{ item.manufacturer }}{% endif %}</span></div>
                    {% endif %}
                </div>
                <div class="one_column12 market">
                    <div class="info_line"><span class="title">{% trans "Калибр" %}:</span><span class="info">{% if item.caliber_min and item.caliber_max%}{{ item.caliber_min }} - {{ item.caliber_max }}{% endif %}</span></div>
                    <div class="info_line"><span class="title">{% trans "Оплата" %}:</span><span class="info">{{ item.payments }}</span></div>
                    {% if not item.offer_type %}
                    <div class="info_line"><span class="title">{% trans "Нужна доставка" %}:</span><span class="info">{% if item.delivery %}{% trans "Да" %}{% else %}{% trans "Нет" %}{% endif %}</span></div>
                    {% endif %}
                    {% if not item.offer_type %}
                    <div class="info_line"><span class="title">{% trans "Я&nbsp;нахожусь" %}:</span><span class="info">{{ item.location }}</span></div>
                    {% else %}
                    <div class="info_line"><span class="title">{% trans "Место&nbsp;груза" %}:</span><span class="info">{{ item.location }}</span></div>
                    {% endif %}
                </div>
            </div>
            <div class="clear"></div>
        </div>
        {% if item.notes %}
        <div class="line_gray no_padding" id="line{{ item.id }}" style="display: none;"></div>
        <div class="right_column market" id="notes{{ item.id }}" style="display: none;">
          <div class="info_line"><span class="info no_padding">{{ item.notes|safe }}</span></div>
        </div>
        {% endif %}
    </div>
    <div class="gray_block market">
      {% include "market/_buttons.html" %}
    </div>
    <div class="clear"></div>
</div>
