{% if is_paginated %}
{% load i18n %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="prev">&lsaquo;&lsaquo; {% trans "Пред." %}</a>
    {% else %}
        <span class="disabled prev">&lsaquo;&lsaquo; {% trans "Пред." %}</span>
    {% endif %}
    {% for page in page_obj.paginator.page_range %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <span class="current page">{{ page }}</span>
            {% else %}
                <a href="?page={{ page }}" class="page">{{ page }}</a>
            {% endifequal %}
        {% else %}
        <span style="float:left;padding-left: 10px;padding-right: 5px;">...</span>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="next">{% trans "След." %} &rsaquo;&rsaquo;</a>
    {% else %}
        <span class="disabled next">{% trans "След." %} &rsaquo;&rsaquo;</span>
    {% endif %}
</div>
{% endif %}
