{% load i18n %}
{% load deal_patterns %}
<div class="status_block search_result">
    <div class="tab name">
        <a href="{% url market:detail item.id %}">{{ item.goods }}</a>
    </div>
    <div class="tab rating_yellow">
        {% load rating from deal_patterns %}
        <div class="rateit" data-rateit-value="{{ item.company|rating }}"  data-rateit-min="0" data-rateit-max="5" data-rateit-step="0.25"  data-rateit-ispreset="true" data-rateit-readonly="true"></div>
    </div>
    <div class="tab flag">
        <div class="yellow_left">
            <a href="{{ item.user.employee.company|get_profile_url }}">{{ item.user.employee.company }}</a>
        </div>
        <div class="yellow_right"></div>
    </div>
    {% if user.is_authenticated %}
        {% if item.company == request.user.employee.company or item.is_partner %}
    <div class="tab next">
        {% if item.company == request.user.employee.company %}
        <div>{% if item.offer_type %}{% trans "мое предложение" %}{% else %}{% trans "мой спрос" %}{% endif %}</div>
        {% endif %}

        {% if user.is_authenticated %}
            {% if item.is_partner %}
            <div>{% if item.offer_type %}{% trans "предложение партнёра" %}{% else %}{% trans "спрос партнёра" %}{% endif %}</div>
            {% endif %}
        {% endif %}
        <div class="right"></div>
     </div>
         {% endif %}
     {% endif %}
     <div class="clearfix"></div>
</div>
