{% extends "base.html" %}
{% load i18n %}
{% load seo %}
{% block title %}{{ submit_title }}{% endblock %}
{% block metatags %}{% get_metadata %}{% endblock %}
{% block individual_metatags %}<meta name="description" content="{% trans 'Сервис безопасных сделок предоставляет возможность заработать на перевозке грузов - большое количество объявлений по всей России.' %}">{% endblock %}
{% load static from staticfiles %}
{% block extrahead %}
<script type="text/javascript">
    $(document).ready(function() {
        var id_region_placeholder = $('#cuselFrame-id_region .cuselText').html();

        if ($('#id_country').val() != 3159) {
            $('div.region').hide();
        };

        $('#id_location_0').djselectable('option', 'prepareQuery', add_country);

        $('#id_country').live('change', function(){
            if ($(this).val() == 3159){
                $('.region').show();
            }else{
                $('.region').hide();
            }
            $('#id_location_0').val('');
            $('#id_location_1').val('');
            $('#id_region').val('');
            $('#cuselFrame-id_region .cuselText').html(id_region_placeholder);
        });

        $('#id_region').live('change', function(){
            $('#id_location_0').val('');
            $('#id_location_1').val('');
        });

        $('#search_form').submit(function() {
            $('#id_offer_view_filter').val($('#view_filter').val());
        });   

        $('#view_filter').change(function() {
            $('#search_form').submit();
        });

        $('div.pagination .prev').click(add_form_to_href);
        $('div.pagination .page').click(add_form_to_href);
        $('div.pagination .next').click(add_form_to_href);

        $(".parent_input.radio label").click(function () {
            $(this).closest(".parent_input").find("label").removeClass("check");
            $(this).closest(".parent_input").find("input").removeAttr("checked");
            $(this).addClass("check");
            $(this).find("input").attr("checked","checked");
        });
    });
</script>
<script type="text/javascript" src="/static/market/js/market.js"></script>
<link rel="stylesheet" type="text/css" href="/static/market/css/market.css">
{% endblock extrahead %}
{% block content %}
    <div class="block_border none_border">
          {% if user.is_authenticated %}
              <div class="left_column3">
                  <a href="{% url market:offer_create %}" class="button green write_plus"><span><i></i>Добавить</span></a>
              </div>
              <div class="right_column3">
          {% endif %}
              <div class="title_blue">
                  <h1 class="inner">{% trans 'Маркет' %}
                      {% if user.is_authenticated %}
                          <select class="select select_view1" id="view_filter">
                              <option value="0" {% if form.offer_view_filter.value == '0' %}selected="selected"{% endif %}>{% trans "показывать всё" %}</option>
                              <option value="except_mine" {% if form.offer_view_filter.value == 'except_mine' %}selected="selected"{% endif %}>{% trans "все, кроме моих" %}</option>
                              <option value="from_partners" {% if form.offer_view_filter.value == 'from_partners' %}selected="selected"{% endif %}>{% trans "от моих партнеров" %}</option>
                              <option value="mine" {% if form.offer_view_filter.value == 'mine' %}selected="selected"{% endif %}>{% trans "только мои" %}</option>
                          </select>
                      {% endif %}
                  </h1>
              </div>
          {% if user.is_authenticated %}
              </div>
          {% endif %}	
    </div>
    <div class="tabs">
        <a href="{% url market:offer_list %}" class="{% if form.offer_type.value|slugify == '1' %}active{% endif %} market">{% trans "Поиск предложения" %}</a>
        <a href="{% url market:demand_list %}" class="{% if form.offer_type.value|slugify == '0' %}active{% endif %} market">{% trans "Поиск спроса" %}</a>
    </div>
    <form action="" method="get" id="search_form" style="{% if valid %}display: none;{% endif %}">
        {{ form.offer_type }}
        {{ form.offer_view_filter }}
        <div class="block_border ">
            <div class="one_columns">
                <div class="one_column1">
                    <h2>{% trans "Товар" %}</h2>
                    <div class="wrapper_line">
                        <div class="title wide"><div class="inner">{{ form.goods.label }}:</div></div>
                        <div class="left">{{ form.goods }}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="wrapper_line">
                        <div class="title wide"><div class="inner">{{ form.caliber_min.label }}:</div></div>
                        <div class="left">{{ form.caliber_min }}</div>
                        <div class="title"><div class="inner spec"><span>&#8212;</span></div></div>
                        <div class="left">{{ form.caliber_max }}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="wrapper_line">
                        <div class="title wide"><div class="inner">{{ form.origin_country.label }}:</div></div>
                        <div class="left">{{ form.origin_country }}</div>
                        {% if form.origin_country.errors %} 
                        <div class="wide error">{{form.origin_country.errors.as_text }}</div> 
                        {% endif %}
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="line_gray"></div>
            <div class="one_columns">
                <div class="one_column1">
                    <h2>{% trans "Стоимость" %}</h2>
                    <div class="wrapper_line">
                        <div class="title wide"><div class="inner" id="price_title">{{ form.price_min.label }}:</div></div>
                        <div class="left">{{ form.price_min }}</div>
                        <div class="title"><div class="inner spec"><span>&#8212;</span></div></div>
                        <div class="left">{{ form.price_max }}</div>
                        <div class="title wide2"><div class="inner">{{ form.money_type.label }}:</div></div>
                        <div class="left">{{ form.money_type }} </div>
                        <div class="clear"></div>
                    </div>
                    <div class="wrapper_line">
                        <div style="display:none;">{{ form.payment_type }}</div>
                        <div class="title wide"><div class="inner">{{ form.payment_type.label }}:</div></div>
                        <div class="left cb_horizontal parent_input">
                            {{ form.payment_type }}
                        </div>
                        {% if form.payment_type.errors %} <div class="error">{{form.payment_type.errors.as_text }}</div> {% endif %}
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="line_gray"></div>
            <div class="one_columns">
                <div class="one_column1">
                    <h2>{% trans "География" %}</h2>
                    <div class="wrapper_line">
                        <div class="title wide"><div class="inner">{{ form.country.label }}:</div></div>
                        <div class="left">{{ form.country }}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="wrapper_line region">
                        <div class="title wide"><div class="inner">&nbsp;</div></div>
                        <div class="left">{{ form.region }}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="wrapper_line">
                        <div class="title wide"><div class="inner">&nbsp;</div></div>
                        <div class="left">{{ form.location }}</div>
                        <div class="clear"></div>
                    </div>
                    {% if form.offer_type.value|slugify == '0' %}
                    <div class="wrapper_line">
                        <div class="title wide"><div class="inner">{{ form.delivery.label }}:</div></div>
                        <div class="left parent_input radio cb_horizontal">
                            <ul>
                            {% for radio in form.delivery %}
                                 <li>{{ radio }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <br />
            <div class="gray_block">
                <div class="left_column2 market">
                    <input type="submit" class="button green" value="{{ submit_title }}" />
                </div>
            </div>
        </div>
    </form>
    <div class="block_border search" id="search_summary" style="{% if not valid %}display:none{% endif %}">   
        <div class="two_columns">
            <div class="one_column11">
                <h2>{% trans "Условия поиска" %}</h2>
                <div class="wrapper_line">
                    <div class="title wide"><span class="title">{{ form.goods.label }}:</span></div>
                    <div class="left"><span class="info">{{ goods|default_if_none:_("Любое") }}</span></div>
                </div>
                <div class="wrapper_line">
                    <div class="title wide"><span class="title">{{ form.price_min.label }}:</span></div>
                    {% if not price_min and not price_max and not money_type %}
                    <div class="left"><span class="info">{% trans "Любая" %}</span></div>
                    {% else %}
                    <div class="left"><span class="info">{% if price_min %}{% trans "От" %} {{ price_min }}{% endif %} {% if price_max %}{% trans "до" %} {{ price_max }}{% endif %} {% if money_type %}{{ money_type }}{% endif %}</span></div>
                    {% endif %}
                </div>
                <div class="wrapper_line">
                    <div class="title wide"><span class="title">{{ form.origin_country.label }}:</span></div>
                    <div class="left"><span class="info">{{ origin_country|default_if_none:_("Любая") }}</span></div>
                </div>
            </div>
            <div class="one_column12">
                <h2>&nbsp;</h2>
                <div class="wrapper_line">
                    <div class="title wide"><span class="title">{{ form.caliber_min.label }}:</span></div>
                    <div class="left"><span class="info">{% if not caliber_min or not caliber_max %}{% trans "Любой" %}{% else %}{% trans "От" %} {{ caliber_min }} {% trans "до" %}  {{ caliber_max }}{% endif %}</span></div>
                </div>
                <div class="wrapper_line">
                    <div class="title wide"><span class="title">{{ form.payment_type.label }}:</span></div>
                    <div class="left"><span class="info">{% if payment_type %}{{ payment_type }}{% else %}{% trans "Любой" %}{% endif %}</span></div>
                </div>
                {% if form.offer_type.value|slugify == '0' %}
                <div class="wrapper_line">
                    <div class="title wide"><span class="title">{{ form.delivery.label }}:</span></div>
                    <div class="left"><span class="info">{{ delivery }}</span></div>
                </div>
                {% endif %}
                <div class="wrapper_line">
                    <div class="title wide"><span class="title">{{ form.country.label }}:</span></div>
                    <div class="left"><span class="info">{% if location %}{{ location }}{% else %}{% if region %}{{ region }}{% else %}{% if country %}{{ country }}{% else %}{% trans "Любое" %}{% endif %}{% endif %}{% endif %}</span></div>
                </div>
            </div>
        </div>
        <div class="gray_block">
            <a href="" class="button fl"><span>{% trans "Обновить" %}</span></a>
            <a href="" class="button fl" onClick="$('#search_summary').hide(); $('#search_form').show(); return false;"><span>{% trans "Изменить" %}</span></a>
            <a href="{{ new_url }}" class="button fl"><span>{% trans "Новый поиск" %}</span></a>
        </div>
    </div>   
    <div>
        <div class="title_blue">
            <h3 class="inner">{% trans "Результаты поиска" %}{% if mam_title and form.offer_type.value|slugify == '1' %}: {{ mam_title }}{% endif%}</h3>
        </div>
        {% if money_type_str and form.offer_type.value|slugify == '1' and mam_q %}
            {% if price_min != price_max or not price_min and not price_max %}
        <div class="block_border summary_block">
            <div class="summary">
                <p>{% trans "Мин. цена:" %}</p>
                <div class="price">
                    <p class="value">{{ mam.min_price|floatformat:"0" }}</p>
                    <p class="izm">{{ money_type_str }}&nbsp;/&nbsp;{% trans "КГ" %}</p>
                </div>
                <br/>
                <a href="" onClick="filter_by_price({{ mam.min_price|floatformat:"0" }}, {{ mam_pk }}); return false;" class="button"><span>{% trans "Показать предложение" %}</span></a>
            </div>
            <div class="summary">
                <p>{% trans "Средняя цена:" %}</p>
                <div class="price">
                    <p class="value">{{ mam.avg_price|floatformat:"0" }}</p>
                    <p class="izm">{{ money_type_str }}&nbsp;/&nbsp;{% trans "КГ" %}</p>
                </div>
                <br/>
                <p>{% trans "Всего предложений" %}: {{ mam_q|length }}</p>
            </div>
            <div class="summary">
                <p>{% trans "Макс цена:" %}</p>
                <div class="price">
                    <p class="value">{{ mam.max_price|floatformat:"0" }}</p>
                    <p class="izm">{{ money_type_str }}&nbsp;/&nbsp;{% trans "КГ" %}</p>
                </div>
                <br/>
                <a href="" onClick="filter_by_price({{ mam.max_price|floatformat:"0" }}, {{ mam_pk }}); return false;" class="button"><span>{% trans "Показать предложение" %}</span></a>
            </div>
            <div class="clear"></div>
        </div>
            {% endif %}
        {% endif %}
        <div class="">
            {% for item in object_list %}
                {% include "market/_offer.html" %}
            {% endfor %}
        </div>
    </div>
    {% include "market/_pagination.html" %}
{% endblock %}



