{% extends "base.html" %}
{% load i18n %}
{% load seo %}
{% block title %}{% trans "Свободная фура? Хотите заработать на перевозке грузов? Сервис безопасных сделок sdelka.co" %}{% endblock %}
{% block metatags %}{% get_metadata %}{% endblock %}
{% block individual_metatags %}<meta name="description" content="{% trans 'Сервис безопасных сделок предоставляет возможность заработать на перевозке грузов - большое количество объявлений по всей России.' %}">{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/static/market/js/market.js"></script>
<link rel="stylesheet" type="text/css" href="/static/market/css/market.css">
{% endblock extrahead%}

{% block content %}
{% spaceless %}
    <div class="block_border none_border">
        {% if user.is_authenticated %}
        <div class="left_column3">
            <a href="{% url market:offer_create %}" class="button green write_plus"><span><i></i>Добавить</span></a>
        </div>
        <div class="right_column3">
        {% endif %}
            <div class="title_blue">
                <h1 class="inner">{% trans 'Маркет' %}</h1>
            </div>
        {% if user.is_authenticated %}
        </div>
        {% endif %}	
    </div>
    <div class="nav_block">
        <a href="{% if request.META.HTTP_REFERER and cancel_url|add:"?" in request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}{{ cancel_url }}{% endif %}">
            &lsaquo;&lsaquo;
            {% if offer.offer_type %}
                {% trans "Найти предложение" %}
            {% else %}
                {% trans "Найти спрос" %}
            {% endif %}
        </a>
    </div>
    <div class="block_border two_columns offer_detail" id="market{{offer.id}}">
        <div class="left_column offer_detail">
            {% if gallery %}
            <img class="bigimage" id="bigimage" src="{{ gallery.0.img.url }}" />
            {% else %}
            <img class="bigimage" id="bigimage" src="/static/market/images/nophoto.png" />
            {% endif %}
            {% for photo in gallery %}
            <img class="smallimage" src="{{ photo.img.url }}" onclick="document.getElementById('bigimage').src=this.src" />
            {% endfor %}
        </div>           
        {{ offer }}
        <div class="fl">
            {% include "market/_status.html" %}
            <div class="clearfix"></div>
            <div class="prop_my">
                <div class="info_line"><span class="italic">{% trans "Сорт" %}:</span><span {% if offer.grade %}class="black">{{ offer.grade }}{% else %}class="italic">{% trans "Не указан" %}{% endif %}</span></div>
                <div class="info_line"><span class="italic">{% trans "Калибр" %}:</span><span {% if offer.caliber_min and offer.caliber_max %}class="black">{{ offer.caliber_min }} &#8212; {{ offer.caliber_max }}{% else %}class="italic">{% trans "Не указан" %}{% endif %}</span></div>
                <div class="info_line"><span class="italic">{% trans "Производитель" %}:</span><span {% if offer.manufacturer %}class="black">{{ offer.manufacturer }}{% else %}class="italic">{% trans "Не указан" %}{% endif %}</span></div>
                <div class="info_line"><span class="italic">{% trans "Страна происхождения" %}:</span><span class="black">{{ offer.origin_country }}</span></div>
                <div class="info_line"><span class="italic">{% trans "Вид упаковки" %}:</span><span {% if offer.pack %}class="black">{{ offer.pack }}{% else %}class="italic">{% trans "Не указан" %}{% endif %}</span></div>
                <div class="info_line"><span class="italic">{% trans "Местонахождение" %}:</span><span class="black">{{ offer.location }}</span></div>
                {% if not offer.offer_type %}
                <div class="info_line"><span class="italic">{% trans "Нужна доставка" %}:</span><span class="black">{% if offer.delivery %}{% trans "Да" %}{% else %}{% trans "Нет" %}{% endif %}</span></div>
                {% endif %}
                <div class="info_line"><span class="italic">{% trans "Цена, за кг" %}:</span><span class="black">{{ offer.price }} {{ offer.money_type }}</span></div>
                <div class="info_line"><span class="italic">{% trans "Вариант оплаты" %}:</span><span {% if offer.payments %}class="black">{{ offer.payments }}{% else %}class="italic">{% trans "Не указан" %}{% endif %}</span></div>
            </div>
        </div>
        {% if offer.notes %}
        <div class="line_gray no_padding" id="line{{ offer.id }}" style="display:none;"></div>
        <div class="right_column market" id="notes{{ offer.id }}" style="display:none;">
          <div class="info_line"><span class="info no_padding">{{ offer.notes }}</span></div>
        </div>
        {% endif %}
        <div class="clear"></div>
    </div>
    <div class="gray_block block_border market">
        {% include "market/_buttons.html" %}
    </div>
    <div class="clear"></div>
{% endspaceless %}
{% endblock %}
