{% extends "base.html" %}
{% load i18n %}
{% load seo %}
{% load deal_patterns %}
{% block title %}{{ submit_title }}{% endblock %}
{% block metatags %}{% get_metadata %}{% endblock %}
{% block extrahead %}
<script type="text/javascript">
    $(document).ready(function() {

        var id_region_placeholder = $('#cuselFrame-id_region .cuselText').html();

        if ($('#id_country').val() != 3159) {
            $('div.region').hide();
        };

        $('#id_location_0').djselectable('option', 'prepareQuery', add_country);

        $('#id_country').live('change', function(){
            if ($(this).val() == 3159){
                $('.region').show();
            }else{
                $('.region').hide();
            }
            $('#id_location_0').val('');
            $('#id_location_1').val('');
            $('#id_region').val('');
            $('#cuselFrame-id_region .cuselText').html(id_region_placeholder);
        });

        $('#id_region').live('change', function(){
            $('#id_location_0').val('');
            $('#id_location_1').val('');
        });
    });
</script>
<script type="text/javascript" src="/static/market/js/market.js"></script>
<link rel="stylesheet" type="text/css" href="/static/market/css/market.css">
{% endblock %}
{% block content %}
    <script>
        $(function() {
            $( ".datepicker" ).datepicker({dateFormat:'dd.mm.yy'});
        });
    </script>
    <form action="" enctype="multipart/form-data" method="post" id="offer_form">
        {% csrf_token %}
        <div class="block_border none_border">
            <div class="title_blue">
                <h1 class="inner">{% trans 'Маркет' %}</h1>
            </div>
	</div>
        <div class="block_border">
            <div class="one_columns">
                <div class="one_column1">
                    <h2>{% trans "Тип объявления" %}:</h2>
                    <div class="wrapper_line">
                        <div class="title wide"><div class="inner">{% trans "Выберите тип" %}:</div></div>
                        <div>
                            {% if form.instance.pk %}
                               {% for choice in form.offer_type %}
                                   {% if choice.choice_value|slugify == form.instance.offer_type|slugify %}
                                       <span class="parent_input radio">
                                           <label for="offer_type_{{ forloop.counter0 }}" class="check">
                                               {{ choice.choice_label }}
                                           </label>
                                           {{ choice.tag }}
                                       </span>
                                   {% endif %}
                               {% endfor %}
                            {% else %}
                            <span class="parent_input radio">
                              <label for="offer_type_0" {% if form.offer_type.value|slugify == '1' %}class="check"{% endif %} onclick="window.location='{% url market:offer_create %}'">
                                  {{ form.offer_type.0.choice_label }}
                              </label>
                              {{ form.offer_type.0.tag }}
                            </span>
                            <span class="parent_input radio">
                              <label for="offer_type_1" {% if form.offer_type.value|slugify == '0' %}class="check"{% endif %} onclick="window.location='{% url market:demand_create %}'">
                                  {{ form.offer_type.1.choice_label }}
                              </label>
                              {{ form.offer_type.1.tag }}
                            </span>
                            {% endif %}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="line_gray"></div>
            <div class="one_columns">
                <div class="one_column1">
                    <h2>{% trans "Товар" %}</h2>
                    <div class="wrapper_line">
                        <div class="title wide"><div class="inner">{{ form.goods.label }}:</div></div>
                        <div class="left">{{ form.goods }}</div>
                        <div class="title"><div class="inner spec"><span class="required">*</span></div></div>
                        {% if form.goods.errors %} <div class="error">{{form.goods.errors.as_text }}</div> {% endif %}
                        <div class="clear"></div>
                    </div>
                    <div class="wrapper_line">
                        <div class="title wide"><div class="inner">{{ form.grade.label }}:</div></div>
                        <div class="left">{{ form.grade }}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="wrapper_line">
                        <div class="title wide"><div class="inner">{{ form.caliber_min.label }}:</div></div>
                        <div class="left">{{ form.caliber_min }}</div>
                        <div class="title"><div class="inner spec"><span>&#8212;</span></div></div>
                        <div class="left">{{ form.caliber_max }}</div>
                        <div class="clear"></div>
                    </div>
                    {% if form.manufacturer.label %}
                    <div class="wrapper_line">
                        <div class="title wide"><div class="inner">{{ form.manufacturer.label }}:</div></div>
                        <div class="left">{{ form.manufacturer }}</div>
                        <div class="clear"></div>
                    </div>
                    {% endif %}
                    <div class="wrapper_line">
                        <div class="title wide"><div class="inner">{{ form.origin_country.label }}:</div></div>
                        <div class="left">{{ form.origin_country }}</div>
                        <div class="title"><div class="inner spec"><span class="required">*</span></div></div>
                        {% if form.origin_country.errors %} 
                        <div class="wide error">{{form.origin_country.errors.as_text }}</div> 
                        {% endif %}
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="line_gray"></div>
            <div class="one_columns">
                <div class="one_column1">
                    <h2>{% trans "География" %}</h2>
                    <div class="wrapper_line">
                        <div class="title wide"><div class="inner">{{ form.pack.label }}:</div></div>
                        <div class="left">{{ form.pack }}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="wrapper_line">
                        <div class="title wide"><div class="inner">{{ form.country.label }}:</div></div>
                        <div class="left">{{ form.country }}</div>
                        <div class="title"><div class="inner spec"><span class="required">*</span></div></div>
                        {% if form.country.errors %} <div class="error">{{form.country.errors.as_text }}</div> {% endif %}
                        <div class="clear"></div>
                    </div>
                    <div class="wrapper_line region">
                        <div class="title wide"><div class="inner">&nbsp;</div></div>
                        <div class="left">{{ form.region }}</div>
                        <div class="title"><div class="inner spec"><span class="required">*</span></div></div>
                        {% if form.region.errors %} <div class="error">{{form.region.errors.as_text }}</div> {% endif %}
                        <div class="clear"></div>
                    </div>
                    <div class="wrapper_line">
                        <div class="title wide"><div class="inner">&nbsp;</div></div>
                        <div class="left">{{ form.location }}</div>
                        <div class="title"><div class="inner spec"><span class="required">*</span></div></div>
                        {% if form.location.errors %} <div class="error">{{form.location.errors.as_text }}</div> {% endif %}
                        <div class="clear"></div>
                    </div>
                    {% if form.delivery %}
                    <div class="wrapper_line">
                        <div class="title wide"><div class="inner">{{ form.delivery.label }}:</div></div>
                        <div class="left parent_input"><div class="inner">{{ form.delivery }} <label for="id_delivery" {% if form.instance.delivery %}class="check"{% endif %}></label></div></div>
                        <div class="clear"></div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="line_gray"></div>
            <div class="one_columns">
                <div class="one_column1">
                    <h2>{% trans "Стоимость" %}</h2>
                    <div class="wrapper_line">
                        <div class="title wide"><div class="inner" id="price_title">{{ form.price.label }}:</div></div>
                        <div class="left">{{ form.price }}</div>
                        <div class="title"><div class="inner spec"><span class="required">*</span></div></div>
                        <div class="title wide2"><div class="inner">{{ form.money_type.label }}:</div></div>
                        <div class="left">{{ form.money_type }} </div>
                        <div class="title"><div class="inner spec"><span class="required">*</span></div></div>
                        {% if form.money_type.errors %} <div class="error">{{form.money_type.errors.as_text }}</div> {% endif %}
                        {% if form.price.errors %} <div class="error">{{form.price.errors.as_text }}</div> {% endif %}
                        <div class="clear"></div>
                    </div>
                    <div class="wrapper_line">
                        <div style="display:none;">{{ form.payment_type }}</div>
                        <div class="title wide"><div class="inner">{{ form.payment_type.label }}:</div></div>
                        <div class="left cb_horizontal parent_input">
                            {{ form.payment_type }}
                        </div>
                        {% if form.payment_type.errors %} <div class="error">{{form.payment_type.errors.as_text }}</div> {% endif %}
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="line_gray"></div>
            <div class="one_columns">
                <div class="one_column1">
                    <h2>{% trans "Дополнительно" %}</h2>
                    <div class="wrapper_line">
                        <div class="title wide"><div class="inner">{{ form.notes.label }}:</div></div>
                        <div class="left">{{ form.notes }}</div>
                        {% if form.notes.errors %} <div class="error">{{form.notes.errors.as_text }}</div> {% endif %}
                        <div class="clear"></div>
                    </div>
                </div>
            </div> 
            <div class="line_gray"></div>
            <div class="one_columns">
                <div class="one_column1">
                    <h2>{% trans "Медиа" %}</h2>
                    {{ photo_inline.management_form }}
                    {% for img in photo_inline %}
                    <div class="wrapper_line">
                        <div class="title wide"><div class="inner">{% if forloop.counter0 %}&nbsp;{% else %}{% trans "Фотографии" %}:{% endif %}</div></div>
                        <div class="left imageline">{% if img.instance.img %}<img class="smallimage" src="{{ img.instance.img.url }}" />{% endif %}{{ img }}</div>
                        <div class="clear"></div>      
                    </div>
                    {% endfor %}
                </div>
            </div> 
            <br />
            <div class="gray_block">
                <div class="left_column2">
                    <a href="#" class="button green" id="submit_button" onclick="$('#offer_form').submit()">
                        <span>{{ submit_title }}</span>
                    </a>
                </div>
                <div class="left_column3">
                    <a href="{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}{{ cancel_url }}{% endif %}" class="button"><span>{{ cancel_title }}</span></a>
                </div>
                <div class="right_column2">
                {% if form.instance.date_create|days_ago > 0 %}
                    <a href="{% url market:renew form.instance.pk %}" class="button fr"><span>{% trans "Обновить" %}</span></a>
                {% endif %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}
